<div class="body">
  <!-- <h3 class="text-center">This is Body Component</h3> -->
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-stocks></app-stocks> -->
  <!-- <app-product-list></app-product-list> -->
  <!-- <app-my-modal>
    <h1 id="modalTitle">Employee Table</h1>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
      </tbody>
    </table>
  </app-my-modal> -->

  <!-- <app-pipes></app-pipes> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-math1></app-math1>
    <app-math2></app-math2> -->
  <!-- <app-http-demo1></app-http-demo1> -->
  <!-- <app-employees></app-employees> -->
  <!-- <app-observable-demo1></app-observable-demo1> -->
  <!-- <app-observable-demo2></app-observable-demo2> -->
  <!-- <app-observable-demo3></app-observable-demo3> -->
  <app-observable-demo4></app-observable-demo4>
</div>
