<h3 class="text-center">Let's Learn DataBinding</h3>

<div class="p-2 m-2 border border border-3 rounded-3">
  <div>Name is: {{myName}}</div>
  <div>Name is: <span [innerHTML]="myName"></span></div>
  <div>Name is: <span bind-innerHTML="myName"></span></div>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPJARAnM4WDtLmY7lOMvZsVY-B6VWWowKJ9g&s" alt="" />
  <img src='{{img_url}}' alt="" class="mx-1" />
  <img [src]='img_url' alt="" class="mx-1" />
  <img bind-src='img_url' alt="" class="mx-1" />
  <div class="m-1"></div>

  <input placeholder="Enter something..." type="text" value="Virat Kohli" />
  <input value="{{myName}}" class="mx-2" />
  <input [value]="myName" class="mx-2" />
  <input bind-value="myName" class="mx-2" />
</div>
