<h3 class="text-center">Product List</h3>
<hr />

<div class="container">
  <div class="row">
    @for (product of productsArr; track $index) {
    <div class="col-sm-3">
      <div class="card">
        <img src="{{product.image}}" class="card-img-top" alt="..." height="250">
        <div class="card-body text-center">
          <h5 class="card-title">{{product.category}}</h5>
          <p class="card-text text-truncate">{{product.title}}</p>
          <p class="card-text text-truncate">{{product.description}}</p>
          <p class="card-text">{{product.price}}</p>
          <p class="card-text">
            {{product.rating.rate}}
            <!-- <fa-icon [icon]="faStar"></fa-icon> -->
          </p>
          <button class="btn btn-primary" [routerLink]="['/productdetails']"
            [queryParams]="{id:product.id , title:product.title , price:product.price}">
            Details</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
