<div class="col-sm-3 offset-4">
  <div class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnyF4T_FASWcTrtTSfJoK-MNLAVa5rNsBZyA&s"
      class="card-img-top" alt="..." height="250">
    <div class="card-body text-center">
      <h5 class="card-title">{{user.id}}</h5>
      <h5 class="card-title">{{user.username}}</h5>
      <p class="card-text text-truncate">{{user.name}}</p>
      <p class="card-text text-truncate">{{user.phone}}</p>
      <p class="card-text text-truncate">{{user.email}}</p>
      <p class="card-text">{{user.address.city}}</p>
    </div>
  </div>
</div>
