<div class="border border-3 p-3 m-3 container">
  <div class="row text-center">
    <div>This is parent component</div>
    <div>My own data a is: {{a}} , <input type="number" [(ngModel)]="a"></div>
    <div>My own data b is: {{b}} , <input type="number" [(ngModel)]="b"> </div>
    <div>My child data name is : {{child1.myName}}</div>
    <div>My child data Address is : {{parentAddress}}</div>
    <hr />
  </div>

  <div class="row">
    <div class="col-sm-6 border border-3">
      <app-child1 [a]="a" #child1 (addressEvent)="receiveDataFromChild($event)"></app-child1>
    </div>
    <div class="col-sm-6 border border-3">
      <app-child2 [aChild2]="a" [child1]="child1"></app-child2>
    </div>
  </div>
</div>
