<h3 class="text-center">Stock Dashboard</h3>

<div class="row">
  <div class="col-sm-6 offset-4">
    <input type="search" class="col-sm-10" [(ngModel)]="searchText" placeholder="Search By ticker..." />
    <button class="btn btn-success mx-1" (click)="filterStockData()">Search</button>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th (click)="sortStockData('ticker_symbol')">ticker_symbol</th>
      <th (click)="sortStockData('sector_id')">sector_id</th>
      <th>market_cap</th>
      <th>current_ratio</th>
      <th>price_to_book_ratio</th>
      <th>eps_nxtyear</th>
      <th>roe</th>
    </tr>
  </thead>
  <tbody>
    @for (stockObj of filteredStocksArr | paginate: { itemsPerPage: 10, currentPage: p}; track $index) {
    <tr>
      <td>{{stockObj.ticker_symbol}}</td>
      <td>{{stockObj.sector_id}}</td>
      <td>{{stockObj.market_cap}}</td>
      <td>{{stockObj.current_ratio}}</td>
      <td>{{stockObj.price_to_book_ratio}}</td>
      <td>{{stockObj.eps_nxtyear}}</td>
      <td>{{stockObj.roe}}</td>
    </tr>
    }
  </tbody>
</table>
<div class="row">
  <div class="col-sm-4 offset-4">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
